ADMIN_PRIVATE_KEY=                      # Prefix 0x...
NEXT_PUBLIC_ALCHEMY_KEY=
NEXT_PUBLIC_MAGIC_PUBLIC_KEY=
NEXT_PUBLIC_PASSKEY_SERVER_URL=
NEXT_PUBLIC_ZERODEV_PROJECT_ID=
NEXT_PUBLIC_ZERODEV_BUNDLER_URL=